$body-bg = #f5f5f5
$font-size-base = 16px
// http://ux.stackexchange.com/a/39353
$font-family-base = Segoe UI, Lucida Grande, Ubuntu, sans-serif
//** Load fonts from this directory.
$icon-font-path = '../../../node_modules/bootstrap-styl/fonts/'
