.song
  bottom 0
  left 0
  padding 0 1em
  position absolute
  right 0
  top 0

  nav
    padding-top .5em

    a
      margin 0 .75em 0 0

  h1
    font-size 1em
    font-weight normal
    margin 0
    span
      display inline-block

  .lyrics
    // NOTE: With display inline-block we can measure actual size.
    display inline-block
    padding 1em 0
    text-align left
    line-height 1.75em
    white-space pre

    sup
      color #428BCA
      font-size 1em
      font-style italic
      font-weight bold
      letter-spacing 1px

      // Would be nice, but unfortunately there is no easy way how to prevent
      // chords clashes. Sup makes more sense, and it's more readable imho.
      // width 0
      // display inline-block
      // font-size .75em
      // position relative
      // top -1.1em
