.pages.edit-song

  .lyrics-history

    .btn
      margin .5em 0
      font-size .75em
      padding-top .375em
      padding-bottom .375em

    p
      font-size .75em

    ol
      li
        white-space pre

  .help
    margin-top .438em
