.app > .song

  .lyrics
    color #111
    padding 1em
    text-align left
    white-space pre
    font-family Monaco

    sup
      color blue
      font-weight bold
      font-style italic
      font-size 110%
      letter-spacing 1px