header, footer
  display none

.page
  pos absolute 0 0 0 0

  article
    // NOTE(steida): With display inline-block we can measure actual size.
    display inline-block
    padding 1em
    text-align left
    white-space pre

    sup
      color #428BCA
      font-size 110%
      font-style italic
      font-weight bold
      letter-spacing 1px

  menu
    inline-block-container()
    background-color rgba(0, 0, 0, 0.7)
    border-radius 1em
    font-size 1.25rem
    margin 0
    padding 0
    // NOTE(steida): Consider fixed position, but then ViewportClientPosition
    // must be replaced for something else.
    position absolute
    // transition all .5s

    &.hidden
      background-color rgba(0, 0, 0, 0)

    a, menuitem
      color #eee
      padding .5em .625em
      user-select none

    menuitem
      color #fff !important
      cursor pointer
      font-weight bold
      position relative

      &:before
        background-color #fff
        border-radius 2em
        content ''
        opacity 0
        pos absolute 7px 0 7px 0
        transition opacity .3s
        z-index 0

      /.is-desktop &:hover
      &.touch-hover
        // text-decoration underline

        &:before
          opacity .3
