@import '../components/variables'

@import '../../../node_modules/bootstrap-styl/bootstrap/variables'
@import '../../../node_modules/bootstrap-styl/bootstrap/mixins'
@import '../../../node_modules/bootstrap-styl/bootstrap/normalize'
@import '../../../node_modules/bootstrap-styl/bootstrap/print'
// @import '../../../node_modules/bootstrap-styl/bootstrap/glyphicons'
@import '../../../node_modules/bootstrap-styl/bootstrap/scaffolding'
@import '../../../node_modules/bootstrap-styl/bootstrap/utilities'
// @import '../../../node_modules/bootstrap-styl/bootstrap/type'
// @import '../../../node_modules/bootstrap-styl/bootstrap/grid'
@import '../../../node_modules/bootstrap-styl/bootstrap/tables'
@import '../../../node_modules/bootstrap-styl/bootstrap/forms'
@import '../../../node_modules/bootstrap-styl/bootstrap/buttons'
@import '../../../node_modules/bootstrap-styl/bootstrap/button-groups'
@import '../../../node_modules/bootstrap-styl/bootstrap/input-groups'
@import '../../../node_modules/bootstrap-styl/bootstrap/alerts'
@import '../../../node_modules/bootstrap-styl/bootstrap/responsive-utilities'

#app
  margin 1em 2em
