@import '../../../bower_components/normalize-css/normalize.css'
@import '../../../bower_components/este-library/este/css'
@import '../../../bower_components/stylus-nib'
@import 'variables.styl'
@import 'type.styl'

// http://phonegap-tips.com/articles/essential-phonegap-css-webkit-tap-highlight-color.html
*
  -webkit-tap-highlight-color rgba(0,0,0,0)
  -webkit-tap-highlight-color transparent

// So here's my idea: you still keep px size adjustments at the document level
// so you can make easy/efficient sweeping size changes. But then each module on
// the page has a font-size set in rem. Actual text elements (h1, h2, p, li,
// whatever), if you size them at all, are sized in em, and thus become relative
// to the module. From: http://css-tricks.com/rems-ems.

*, ::after, ::before
  box-sizing border-box

body
  // http://ux.stackexchange.com/a/39353 TODO: Consider Google Noto font.
  font-family 'Segoe UI', 'Lucida Grande','Ubuntu','sans-serif'
  font-size 16px
  line-height 1.4

  .app
    &.active-page-edit-song
      @import 'pages/editsong'
    &.active-page-home
      @import 'pages/home'
    &.active-page-notfound
      @import 'pages/notfound'
    &.active-page-song
      @import 'pages/song'
    &.active-page-trash
      @import 'pages/trash'
    &.active-page-me
      @import 'pages/me'

    >
      @import 'header'
    >
      @import 'footer'

    padding 0 1.5em
