@import '../../../bower_components/normalize-css/normalize.css'
@import '../../../bower_components/stylus-nib'
@import '../../../bower_components/este-library/este/css'

// From PhoneGap css. TODO: Use more.

*
  -webkit-tap-highlight-color rgba(0,0,0,0)

// TODO: Nejak hezky.
// a:active
//   color: blue

// .app
//   border solid 1px red