// This is for server side responsive web design. Favor CSS media queries.

// html.is-desktop
// html.is-tablet
// html.is-mobile

html:not(.is-desktop)
  // Override hover for touch devices because it's janky as hell.

  a, a:hover
    color linkColor
    text-decoration none
    // Custom hover detection works like a charm.
    &.touch-hover
      color linkHoverColor
      text-decoration underline
