// PATTERN(steida): Don't use this for responsive CSS, because classes are
// added via JavaScript, which is parsed and runned after HTML is already
// shown. This is for other cases.

// html.is-desktop
// html.is-tablet
// html.is-mobile

html:not(.is-desktop)
  // NOTE(steida): Disable hover for touch devices since it's janky.
  a, a:hover
    color #428bca
    text-decoration none
    // NOTE(steida): Reimplemented with PointerEvents works like a charm.
    &.touch-hover
      color #2a6496
      text-decoration underline